<!DOCTYPE html>
<html>
  <head>
    <title>Compass Analytics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ > 
    <link href="static/css/roboto.css" rel="stylesheet">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/my-styles.css?id=123" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!--Navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <p id="team-tag" class="navbar-text pull-right hidden-xs">A Monte Diablo Project</p>
      </div>
    </div><!-- End navbar -->


    <!-- Jumbotron -->
     <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 hidden-xs">
            <h1 class="text-center">Hi I'm Billy</h1>
            <img src="static/img/billy.png" id="center-demo">
          </div>
          <div class="col-sm-12 visible-xs">
            <h1 class="text-center">Meet Compass</h1>
            <img src="#" id="center-demo-xs">
          </div>
        </div>
      </div>
    </div><!-- End Jumbotron -->

    <!-- Main Content -->
    <div class="container">
      <div class="row" id="page-title">
        <div class="col-12 text-center">
          <h1>
            I can help you with all aspects of your upcoming trip
          </h1>
        </div>
      </div>

      <div class="row ft">
        <div class="col-md-4 ">
          <img src="static/img/icons/plane.svg" class="icon" height="120">
          <h2>Fly</h2>
          <p>
            I can help you find the perfect flight
          </p>
        </div>
        <div class="col-md-4 ">
          <img src="static/img/icons/hotel.svg" class="icon" height="120">
          <h2>Sleep</h2>
          <p>
            I'll find the best place for you to crash
          </p>
        </div>
        <div class="col-md-4 ">
          <img src="static/img/icons/picnik.svg" class="icon" height="120">
          <h2>Explore</h2>
          <p>
            I hope you are looking for an adventure
          </p>
        </div>
      </div>


      <div class="callout"> 
        <a class="btn btn-success btn-lg" href="app">
          Get Started<span class="glyphicon glyphicon-arrow-right"></span>
        </a>
      </div>

    </div><!-- End Main Content -->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
